[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
pycocotools = "*"
pixellib = "*"
black = "*"
opencv-python = "*"
matplotlib = "*"
imutils = "*"
opencv-contrib-python = "*"
scipy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
